*{
	transition: all .1s ease-in;
	box-sizing: border-box;
}

body{
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	background-color: #2C95C7;
	border: 15px solid #277EA7;
	color: #fff;
	min-height: 100vh;
}

header{
	margin: 20px auto;
	max-width: 700px;
}

section{
	margin: auto;
	max-width: 700px;
}

i{
	font-size: 25px;
	padding-left: 10px;
	padding-top: 10px;
}

h1{
	font-size: 20px;
	font-weight: bold;
	text-align: left;
}
footer{
	margin: 30px auto;
	margin-bottom: 50px;
	max-width: 700px;
}
p{
	text-align: left;
}

ul{
	border: 2px solid #fff;
	font-size: 0;
	background-color: #FFF;
}

li{
	font-size: 17px;
	text-align: center;
	border: 2px solid #fff;
	display: inline-block;
	padding: 25px;
}

ul:hover li{
	opacity: 0.6;
}
ul li:hover{
	opacity: 1;
}

.lisbon{
	background-color: #2C95C7;
}
.paris{
	background-color: #00D1CA;
}
.belgrade{
	background-color: #A05995;
}
.moskow{
	background-color: #CA334D;
}
.telaviv{
	background-color: #EB5953;
}
.cair{
	background-color: #FFCE74;
}
.newyork{
	background-color: #8AD39C;
}
.newdelhi{
	background-color: #5E9B97;
}
.sanfrancisco{
	background-color: #D65096;
}
.tokyo{
	background-color: #00A06A;
}
.sydney{
	background-color: #6B5F95;
}
.width-25{
	width: 25%;
}
.width-50{
	width: 50%;
}
.width-100{
	width: 100%;
}
